<h2 mat-dialog-title>Registration</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>
      <form
        class="registration__form"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
      >
        <mat-form-field>
          <mat-label for="userName">User Name</mat-label>
          <input
            id="userName"
            type="type"
            formControlName="userName"
            matInput
          />
          <mat-error
            *ngIf="userName.invalid && (userName.touched || userName.dirty)"
          >
            <p *ngIf="userName.errors.notBlank">
              User name cannot be <strong>empty</strong>.
            </p>
            <p *ngIf="userName.errors.userNameAlreadyTaken">
              User name <strong>is already taken</strong>.
            </p>
            <p *ngIf="userName.errors.minlength || userName.errors.maxlength">
              User name must be between <strong>5</strong> and
              <strong>20</strong> characters.
            </p>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="email">Email</mat-label>
          <input id="email" type="email" formControlName="email" matInput />
          <mat-error *ngIf="email.invalid && (email.touched || email.dirty)">
            <p *ngIf="email.errors.email">
              Email must be a <strong>valid</strong> email address.
            </p>
            <p *ngIf="email.errors.emailAlreadyTaken">
              Email <strong>is already taken</strong>.
            </p>
            <p *ngIf="email.errors.notBlank">
              Email cannot be <strong>empty</strong>.
            </p>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="password">Password</mat-label>
          <input
            id="password"
            type="password"
            formControlName="password"
            matInput
          />
          <mat-error
            *ngIf="password.invalid && (password.touched || password.dirty)"
          >
            <p *ngIf="password.errors.notBlank">
              Password cannot be <strong>empty</strong>.
            </p>
            <p
              *ngIf="
                !password.errors.notBlank &&
                (password.errors.minlength || password.errors.maxlength)
              "
            >
              Password must be between <strong>7</strong> and
              <strong>30</strong> characters.
            </p>
            <p *ngIf="password.errors.notMatch">
              Passwords <strong>don't match</strong>.
            </p>
            <p *ngIf="!password.errors.notBlank && password.errors.notInclude">
              Password <strong>mustn't contain User Name</strong>.
            </p>
            <p *ngIf="password.errors.withoutSpaces">
              Password <strong>mustn't contain spaces</strong>.
            </p>
            <p *ngIf="password.errors.repetitiveCharacters">
              Password
              <strong
                >mustn't contain a repetitive string of characters longer than
                two characters</strong
              >.
            </p>
            <div
              *ngIf="
                password.errors.notPopular ||
                password.errors.withoutUppercase ||
                password.errors.withoutDigits ||
                password.errors.withoutSpecial
              "
            >
              <p>Password must meet at least two of the four rules below:</p>
              <p *ngIf="password.errors.notPopular">
                Password is on the list of <strong>common passwords</strong>.
              </p>
              <p *ngIf="password.errors.withoutUppercase">
                Password must contain <strong>one or more</strong> uppercase
                characters.
              </p>
              <p *ngIf="password.errors.withoutLowercase">
                Password must contain <strong>one or more</strong> lowercase
                characters.
              </p>
              <p *ngIf="password.errors.withoutDigits">
                Password must contain <strong>one or more</strong> digit
                characters.
              </p>
              <p *ngIf="password.errors.withoutSpecial">
                Password must contain <strong>one or more</strong> special
                characters.
              </p>
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="matchingPassword">Matching Password</mat-label>
          <input
            id="matchingPassword"
            type="password"
            formControlName="matchingPassword"
            matInput
          />
          <mat-error
            *ngIf="
              matchingPassword.invalid &&
              (matchingPassword.touched || matchingPassword.dirty)
            "
          >
            <p *ngIf="matchingPassword.errors.notBlank">
              Password cannot be <strong>empty</strong>.
            </p>
            <p
              *ngIf="
                !matchingPassword.errors.notBlank &&
                (matchingPassword.errors.minlength ||
                  matchingPassword.errors.maxlength)
              "
            >
              Password must be between <strong>7</strong> and
              <strong>30</strong> characters.
            </p>
            <p *ngIf="matchingPassword.errors.notMatch">
              Passwords <strong>don't match</strong>.
            </p>
            <p
              *ngIf="
                !matchingPassword.errors.notBlank &&
                matchingPassword.errors.notInclude
              "
            >
              Password <strong>mustn't contain User Name</strong>.
            </p>
            <p *ngIf="matchingPassword.errors.withoutSpaces">
              Password <strong>mustn't contain spaces</strong>.
            </p>
            <p *ngIf="matchingPassword.errors.repetitiveCharacters">
              Password
              <strong
                >mustn't contain a repetitive string of characters longer than
                two characters</strong
              >.
            </p>
            <div
              *ngIf="
                matchingPassword.errors.notPopular ||
                matchingPassword.errors.withoutUppercase ||
                matchingPassword.errors.withoutDigits ||
                matchingPassword.errors.withoutSpecial
              "
            >
              <p>Password must meet at least two of the four rules below:</p>
              <p *ngIf="matchingPassword.errors.notPopular">
                Password is on the list of <strong>common passwords</strong>.
              </p>
              <p *ngIf="matchingPassword.errors.withoutUppercase">
                Password must contain <strong>one or more</strong> uppercase
                characters.
              </p>
              <p *ngIf="matchingPassword.errors.withoutLowercase">
                Password must contain <strong>one or more</strong> lowercase
                characters.
              </p>
              <p *ngIf="matchingPassword.errors.withoutDigits">
                Password must contain <strong>one or more</strong> digit
                characters.
              </p>
              <p *ngIf="matchingPassword.errors.withoutSpecial">
                Password must contain <strong>one or more</strong> special
                characters.
              </p>
            </div>
          </mat-error>
        </mat-form-field>

        <mat-error *ngFor="let errorMessage of authErrors">
          <p>{{ errorMessage }}</p>
        </mat-error>

        <mat-dialog-actions align="end">
          <button type="submit" mat-raised-button>Register</button>
          <button mat-raised-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
[disabled]="!registerForm.valid"
