mat-slider {
  width: 100%;
}

.event-date-slider__title {
  margin-bottom: 0px;
}

@media (orientation: landscape) and (max-width: 823px) {
  .event-date-slider__title {
    font-size: 15px;
  }
}

@media (orientation: landscape) and (max-width: 736px) {
  .event-date-slider__title {
    font-size: 13px;
  }
}
