<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>
      <h2 mat-dialog-title>{{ action }} Event</h2>
      <mat-error *ngFor="let errorMessage of errorMessages">
        <div>{{ errorMessage }}</div>
      </mat-error>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmitForm()">
        <div *ngIf="!isLoading">
          <app-event-form
            [formControl]="eventForm.controls['event']"
          ></app-event-form>
          <app-target-form
            [formControl]="eventForm.controls['target']"
          ></app-target-form>
          <app-city-form
            [formControl]="eventForm.controls['city']"
          ></app-city-form>
          <app-province-form
            [formControl]="eventForm.controls['province']"
          ></app-province-form>
          <app-country-form
            [formControl]="eventForm.controls['country']"
          ></app-country-form>
          <app-victim-form
            [formControl]="eventForm.controls['victim']"
          ></app-victim-form>
        </div>

        <div *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div>

        <mat-dialog-actions align="end">
          <button type="submit" mat-raised-button [disabled]="!eventForm.valid">
            {{ action }} Event
          </button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
