.chart-canvas {
  max-height: 350px;
  height: 350px;
  width: 800px;
}

.chart-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .chart-canvas {
    height: 200px;
    width: 160px;
  }
}
