#map {
  height: calc(100vh - 64px);
  padding: 0;
}

.map-container {
  position: relative;
}

app-date-slider,
app-event-radius-slider {
  position: absolute;
  left: 10%;
  right: 90%;
  z-index: 1000;
  width: 80%;
}

app-date-slider {
  bottom: 1%;
}

app-event-radius-slider {
  bottom: 13%;
}
