#map {
  height: calc(100vh - 64px);
  padding: 0;
}

.map-container {
  position: relative;
}

app-event-date-slider,
app-event-radius-slider {
  position: absolute;
  left: 10%;
  right: 90%;
  z-index: 1000;
  width: 80%;
}

app-event-date-slider {
  bottom: 4%;
}

app-event-radius-slider {
  bottom: 13%;
}

@media (orientation: landscape) and (max-width: 736px) {
  app-event-date-slider {
    bottom: 0%;
  }

  app-event-radius-slider {
    bottom: 15%;
  }
}
