<ng-container [formGroup]="formGroup">
  <h2>City</h2>
  <p>
    <mat-form-field>
      <mat-label for="name">Name</mat-label>
      <input
        id="cityName"
        type="type"
        autocomplete="on"
        formControlName="name"
        matInput
      />
      <mat-autocomplete
        #provincesAutocomplete="matAutocomplete"
        (optionSelected)="selectCity($event)"
      >
        <mat-option *ngFor="let city of cities" [value]="city.name">
          {{ city.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="name.invalid && (name.touched || name.dirty)">
        <p *ngIf="name.errors.notBlank">
          City name cannot be <strong>empty</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="latitude">Latitude</mat-label>
      <input
        id="latitude"
        type="number"
        autocomplete="on"
        formControlName="latitude"
        matInput
      />
      <mat-error
        *ngIf="latitude.invalid && (latitude.touched || latitude.dirty)"
      >
        <p *ngIf="latitude.errors.notBlank">
          City latitude cannot be <strong>empty</strong>.
        </p>
        <p *ngIf="latitude.errors.min">
          City latitude must be greater or equal to <strong>-90</strong>.
        </p>
        <p *ngIf="latitude.errors.max">
          City latitude must be less or equal to <strong>90</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="longitude">Longitude</mat-label>
      <input
        id="longitude"
        type="number"
        autocomplete="on"
        formControlName="longitude"
        matInput
      />
      <mat-error
        *ngIf="longitude.invalid && (longitude.touched || longitude.dirty)"
      >
        <p *ngIf="longitude.errors.notBlank">
          City longitude cannot be <strong>empty</strong>.
        </p>
        <p *ngIf="longitude.errors.min">
          City longitude must be greater or equal to <strong>-180</strong>.
        </p>
        <p *ngIf="longitude.errors.max">
          City longitude must be less or equal to <strong>180</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
</ng-container>
