<ng-container [formGroup]="formGroup">
  <h2>Event</h2>
  <p>
    <mat-form-field>
      <mat-label for="summary">Summary</mat-label>
      <input
        id="summary"
        type="type"
        autocomplete="on"
        formControlName="summary"
        matInput
      />
      <mat-error *ngIf="summary.invalid && (summary.touched || summary.dirty)">
        <p *ngIf="summary.errors.notBlank">
          Event summary cannot be <strong>empty</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="motive">Motive</mat-label>
      <input
        id="motive"
        type="text"
        autocomplete="on"
        formControlName="motive"
        matInput
      />
      <mat-error *ngIf="motive.invalid && (motive.touched || motive.dirty)">
        <p *ngIf="motive.errors.notBlank">
          Event motive cannot be <strong>empty</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="datePicker" formControlName="date" />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      <mat-error *ngIf="date.invalid && (date.touched || date.dirty)">
        <p *ngIf="date.errors.notBlank">
          Event date cannot be <strong>empty</strong>.
        </p>
        <p *ngIf="date.errors.dateInPast">
          Event date cannot be in the <strong>future</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-label for="isPartOfMultipleIncidents"
      >Is part of multiple incidents?</mat-label
    >
  </p>
  <p>
    <mat-radio-group formControlName="isPartOfMultipleIncidents">
      <mat-radio-button value="true" color="primary">true</mat-radio-button>
      <mat-radio-button value="false" color="warn">false</mat-radio-button>
    </mat-radio-group>
  </p>
  <p>
    <mat-label for="isSuccessful">Is successful?</mat-label>
  </p>
  <p>
    <mat-radio-group formControlName="isSuccessful">
      <mat-radio-button value="true" color="primary">true</mat-radio-button>
      <mat-radio-button value="false" color="warn">false</mat-radio-button>
    </mat-radio-group>
  </p>
  <p>
    <mat-label for="isSuicidal">Is suicidal?</mat-label>
  </p>
  <p>
    <mat-radio-group formControlName="isSuicidal">
      <mat-radio-button value="true" color="primary">true</mat-radio-button>
      <mat-radio-button value="false" color="warn">false</mat-radio-button>
    </mat-radio-group>
  </p>
</ng-container>
