<ng-container [formGroup]="formGroup">
  <h2>Casualties</h2>
  <p>
    <mat-form-field>
      <mat-label for="totalNumberOfFatalities"
        >Total number of fatalities</mat-label
      >
      <input
        id="totalNumberOfFatalities"
        type="number"
        autocomplete="on"
        formControlName="totalNumberOfFatalities"
        matInput
      />
      <mat-error
        *ngIf="
          totalNumberOfFatalities.invalid &&
          (totalNumberOfFatalities.touched || totalNumberOfFatalities.dirty)
        "
      >
        <p *ngIf="totalNumberOfFatalities.errors.notBlank">
          Event total number of fatalities cannot be <strong>empty</strong>.
        </p>
        <p *ngIf="totalNumberOfFatalities.errors.min">
          Event total number of fatalities must be greater or equal to
          <strong>0</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="numberOfPerpetratorsFatalities"
        >Number of perpetrator fatalities</mat-label
      >
      <input
        id="numberOfPerpetratorsFatalities"
        type="number"
        autocomplete="on"
        formControlName="numberOfPerpetratorsFatalities"
        matInput
      />
      <mat-error
        *ngIf="
          numberOfPerpetratorsFatalities.invalid &&
          (numberOfPerpetratorsFatalities.touched ||
            numberOfPerpetratorsFatalities.dirty)
        "
      >
        <p *ngIf="numberOfPerpetratorsFatalities.errors.notBlank">
          Event number of perpetrator fatalities cannot be
          <strong>empty</strong>.
        </p>
        <p *ngIf="numberOfPerpetratorsFatalities.errors.min">
          Event number of perpetrator fatalities must be greater or equal to
          <strong>0</strong>.
        </p>
        <p *ngIf="numberOfPerpetratorsFatalities.errors.lowerOrEqual">
          Event number of perpetrator fatalities
          <strong>should not exceed</strong> the total number of victims.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="totalNumberOfInjured">Total number of injured</mat-label>
      <input
        id="totalNumberOfInjured"
        type="number"
        autocomplete="on"
        formControlName="totalNumberOfInjured"
        matInput
      />
      <mat-error
        *ngIf="
          totalNumberOfInjured.invalid &&
          (totalNumberOfInjured.touched || totalNumberOfInjured.dirty)
        "
      >
        <p *ngIf="totalNumberOfInjured.errors.notBlank">
          Event total number of injured cannot be <strong>empty</strong>.
        </p>
        <p *ngIf="totalNumberOfInjured.errors.min">
          Event total number of injured must be greater or equal to
          <strong>0</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="numberOfPerpetratorsInjured"
        >Number of perpetrator injured</mat-label
      >
      <input
        id="numberOfPerpetratorsInjured"
        type="number"
        autocomplete="on"
        formControlName="numberOfPerpetratorsInjured"
        matInput
      />
      <mat-error
        *ngIf="
          numberOfPerpetratorsInjured.invalid &&
          (numberOfPerpetratorsInjured.touched ||
            numberOfPerpetratorsInjured.dirty)
        "
      >
        <p *ngIf="numberOfPerpetratorsInjured.errors.notBlank">
          Event number of perpetrator injured cannot be
          <strong>empty</strong>.
        </p>
        <p *ngIf="numberOfPerpetratorsInjured.errors.min">
          Event number of perpetrator injured must be greater or equal to
          <strong>0</strong>.
        </p>
        <p *ngIf="numberOfPerpetratorsInjured.errors.lowerOrEqual">
          Event number of perpetrator injured
          <strong>should not exceed</strong> the total number of injured.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label for="valueOfPropertyDamage"
        >Value of property damage</mat-label
      >
      <input
        id="valueOfPropertyDamage"
        type="number"
        autocomplete="on"
        formControlName="valueOfPropertyDamage"
        matInput
      />
      <mat-error
        *ngIf="
          numberOfPerpetratorsInjured.invalid &&
          (numberOfPerpetratorsInjured.touched ||
            numberOfPerpetratorsInjured.dirty)
        "
      >
        <p *ngIf="numberOfPerpetratorsInjured.errors.notBlank">
          Event total value of property damage cannot be
          <strong>empty</strong>.
        </p>
        <p *ngIf="numberOfPerpetratorsInjured.errors.min">
          Event total value of property damage must be greater or equal to
          <strong>0</strong>.
        </p>
      </mat-error>
    </mat-form-field>
  </p>
</ng-container>
