.mat-form-field {
  width: 80%;
  margin-top: 0.5%;
}

.mat-table {
  min-width: auto !important;
  width: 100vw !important;
}

.mat-row {
  cursor: pointer;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-row {
  width: 100%;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-column-id,
.mat-column-update,
.mat-column-delete {
  flex: 0 0 3% !important;
  min-width: 115px !important;
}

.mat-column-target-target,
.mat-column-city-name,
.mat-column-date {
  flex: 0 0 30.3% !important;
  min-width: 115px !important;
}

.mat-column-update:hover,
.mat-column-delete:hover {
  cursor: pointer;
}

tr.event-details-row {
  height: 0;
}

.event-details {
  overflow: hidden;
}

.event-row:not(.event-expanded-row):hover {
  background: whitesmoke;
}

.event-row:not(.event-expanded-row):active {
  background: #efefef;
}

.event-row td {
  border-bottom-width: 0;
}

@media (max-width: 735px) {
  .mat-cell {
    font-size: 13px;
  }

  .mat-column-id,
  .mat-column-update,
  .mat-column-delete {
    min-width: 50px !important;
  }

  .mat-column-target-target,
  .mat-column-city-name,
  .mat-column-date {
    min-width: 50px !important;
  }
}

@media (max-width: 415px) {
  .mat-cell {
    font-size: 12px;
  }

  .mat-cell:first-child,
  .mat-footer-cell:first-child,
  .mat-header-cell:first-child {
    padding-left: 3px;
  }

  .mat-cell:last-child,
  .mat-footer-cell:last-child,
  .mat-header-cell:last-child {
    padding-right: 3px;
  }

  .mat-column-id,
  .mat-column-update,
  .mat-column-delete {
    min-width: 25px !important;
  }

  .mat-column-target-target,
  .mat-column-city-name,
  .mat-column-date {
    min-width: 25px !important;
  }
}
