<div class="grid-container">
  <h1 class="mat-h1">Statistics</h1>
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="305px">
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.chart.cols"
      [rowspan]="(cardLayout | async)?.chart.rows"
    >
      <mat-card-content class="dashboard-card-content">
        <app-victims-chart></app-victims-chart>
      </mat-card-content>
      <mat-card-content class="dashboard-card-content">
        <app-events-over-years-chart></app-events-over-years-chart>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</div>
