<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <p>
          <mat-form-field>
            <mat-label for="userNameOrEmail">User name/Email</mat-label>
            <input
              id="userNameOrEmail"
              type="type"
              formControlName="userNameOrEmail"
              matInput
            />
            <mat-error
              *ngIf="
                userNameOrEmail.invalid &&
                (userNameOrEmail.touched || userNameOrEmail.dirty)
              "
            >
              <div *ngIf="userNameOrEmail.errors.required">
                User Name or Email is <strong>required</strong>
              </div>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label for="password">Password</mat-label>
            <input
              id="password"
              type="password"
              formControlName="password"
              matInput
            />
            <mat-error
              *ngIf="password.invalid && (password.touched || password.dirty)"
            >
              <div *ngIf="password.errors.required">
                Password is <strong>required</strong>
              </div>
            </mat-error>
          </mat-form-field>
        </p>

        <mat-error *ngFor="let errorMessage of authErrors">
          <div>{{ errorMessage }}</div>
        </mat-error>

        <mat-dialog-actions align="end">
          <button type="submit" mat-raised-button [disabled]="!loginForm.valid">
            Login
          </button>
          <button mat-raised-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
