<mat-card class="app-card-popup">
  <mat-card-header>
    <mat-card-title>{{ event.id }} {{ event.target.target }}</mat-card-title>
    <mat-card-subtitle> {{ event.date }}</mat-card-subtitle>
    <mat-card-subtitle
      >{{ city.name }} ({{ city.latitude }},
      {{ city.longitude }})</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="app-card-popup__content">
    <div *ngIf="event.summary.length > 0">
      <h3>Summary</h3>
      <p>{{ event.summary }}</p>
    </div>
    <div *ngIf="event.motive.length > 0">
      <h3>Motive</h3>
      <p>{{ event.motive }}</p>
    </div>
    <div>
      <h3>Casualties</h3>
      <p>Total number of fatalities: {{ victim.totalNumberOfFatalities }}</p>
      <p>Total number of injured: {{ victim.totalNumberOfInjured }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="updateEvent()">Update</button>
    <button mat-button>Delete</button>
  </mat-card-actions>
</mat-card>
