.mat-card {
  padding: 0;
}

.mat-card-content {
  max-height: 600px;
  overflow: hidden auto;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-card-header-text {
  margin: 0;
}

@media (max-width: 750px) {
  .mat-card-content {
    max-height: 300px;
    max-width: 280px;
  }
}
