<div class="grid-container">
  <h1 class="mat-h1">Statistics</h1>
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="350px">
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.eventsOverYearsChart.cols"
      [rowspan]="(cardLayout | async)?.eventsOverYearsChart.rows"
    >
      <mat-card-content class="dashboard-card-content">
        <app-events-over-years-chart></app-events-over-years-chart>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.fatalVictimsChart.cols"
      [rowspan]="(cardLayout | async)?.fatalVictimsChart.rows"
    >
      <mat-card-content class="dashboard-card-content">
        <app-fatal-victims-chart></app-fatal-victims-chart>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.injuredVictimsChart.cols"
      [rowspan]="(cardLayout | async)?.injuredVictimsChart.rows"
    >
      <mat-card-content class="dashboard-card-content">
        <app-injured-victims-chart></app-injured-victims-chart>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</div>
