.app-content {
  height: 100vh;
}

.app-name {
  font-size: 150%;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}
