<div class="app-content">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        (click)="sidenavForms.close()"
        onclick="this.blur()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxShow="true">
      <button
        mat-icon-button
        (click)="sidenavForms.toggle()"
        (click)="sidenav.close()"
        onclick="this.blur()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <a mat-button class="app-name" routerLink="/">
      <span>Global Terrorism Tracker</span>
    </a>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button href="#" routerLink="map">Map</a>
      <a
        mat-button
        href="#"
        [routerLink]=""
        (click)="onOpenPopUp('login')"
        *ngIf="!isAuthenticated"
        >Login</a
      >
      <a
        mat-button
        href="#"
        [routerLink]=""
        (click)="onOpenPopUp('registration')"
        *ngIf="!isAuthenticated"
      >
        Register
      </a>
      <a
        mat-button
        href="#"
        [routerLink]=""
        (click)="onLogout()"
        *ngIf="isAuthenticated"
      >
        Logout
      </a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
      position="start"
    >
      <div fxLayout="column">
        <a mat-button href="#" routerLink="map">Map</a>
        <a
          mat-button
          href="#"
          [routerLink]=""
          (click)="onOpenPopUp('login')"
          *ngIf="!isAuthenticated"
          >Login</a
        >
        <a
          mat-button
          href="#"
          [routerLink]=""
          (click)="onOpenPopUp('registration')"
          *ngIf="!isAuthenticated"
          >Register</a
        >
        <a
          mat-button
          href="#"
          [routerLink]=""
          (click)="onLogout()"
          *ngIf="isAuthenticated"
          >Logout</a
        >
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav
      color="primary"
      #sidenavForms
      fxLayout="column"
      mode="over"
      opened="false"
      position="end"
      class="sidenav-big"
    >
      <div fxLayout="column">
        <a mat-button href="#" routerLink="map">Map</a>
        <a
          mat-button
          href="#"
          [routerLink]=""
          (click)="onOpenPopUp('login')"
          *ngIf="!isAuthenticated"
          >Login</a
        >
        <a
          mat-button
          href="#"
          [routerLink]=""
          (click)="onOpenPopUp('registration')"
          *ngIf="!isAuthenticated"
          >Register</a
        >
        <a
          mat-button
          href="#"
          [routerLink]=""
          (click)="onLogout()"
          *ngIf="isAuthenticated"
          >Logout</a
        >
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
